# ──────────────────────────────────────────────
# Smart Campus Entry Monitor - Backend ENV
# ──────────────────────────────────────────────

PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/smart_campus

# JWT
JWT_SECRET=iamthegreatdeveloperintheworld
JWT_EXPIRES_IN=7d

# Email (Nodemailer - Gmail example)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=wanderlusttravelbooking39@gmail.com
SMTP_PASS=ahqk cced sdvi ilch
EMAIL_FROM=SEMAIL_FROM="NMIM'S MPSTME Shirpur Campus <sanketmali@gmail.com>"

# SMS (Fast2SMS - India)
FAST2SMS_API_KEY=xHRQ0wrSy8FBAp5EZiL4nN2K7hueYGzDs9jJvMVqdckoP1XUmWfP6gpcvO8IhDCRMW9ZkmUEQL5adJti

# Hosteller curfew hour (24h format)
CURFEW_HOUR=22

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
